@font-face {
    font-family: 'OSeongandHanEum-Regular';
    src: url('../fonts/OSeongandHanEum-Regular.eot');
    src: url('../fonts/OSeongandHanEum-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OSeongandHanEum-Regular.svg#OSeongandHanEum-Regular') format('svg'),
         url('../fonts/OSeongandHanEum-Regular.ttf') format('truetype'),
         url('../fonts/OSeongandHanEum-Regular.woff') format('woff'),
         url('../fonts/OSeongandHanEum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Makgeolli';
    src: url('../fonts/Makgeolli.woff');
    src: url('../fonts/Makgeolli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
.font_01{
    font-family: 'Makgeolli'; 
    font-size:15px; 
    font-weight:300;
    border:3px solid #ccc;
}
  

body {
    font-family: 'OSeongandHanEum-Regular', "Open Sans", sans-serif;
    color: #444;
  }

h1, h2, h3, h4, h5, h6, .font-primary {
    font-family:'OSeongandHanEum-Regular', "Roboto", sans-serif;
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 12px 5px 12px;
    display: inline-block;
    padding: 0 4px 6px 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #444;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #fff;
    font-family: 'OSeongandHanEum-Regular',"Roboto", sans-serif;
  }


.contact .php-email-form button[type="button"] {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type="button"]:hover {
    background: #8dbad2;
}

#footer .footer-newsletter .emailSubscribe input[type="button"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: #68A4C4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter .emailSubscribe input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
}


.emailSubscribe {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}


.emailRealSize {
    font-size: 1em;
}


#hero::after {
    background-size: 100%;
}


.mobile-nav-toggle i {
    font-size: 1.8em;
}

.mobile-nav-toggle {
    float: right;
    margin-right: 13px;
    position: unset;
}


#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
    margin-top: -5px;
}

#header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.portfolio #portfolio_flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
}

.contact .php-email-form .validate {
    display : block;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0px;
    color: #68A4C4;
}

.button-list {
    background: #68A4C4;
    border: 0px;
    padding: 0px 0px;
    color: #fff;
    transition: 0.4s;
    width: 100px
}

    .button-list:hover {
        background: #8dbad2;
        border: 0;
        padding: 0px 0px;
        color: #000;
        transition: 0.4s;
    }




.image-width100 {
    width: 270px;
    height: 270px !important;
    object-fit : cover;
}

.member-info{
    text-align:center;
}

.contact .php-email-form input {
    padding: 0px 0px 0px 0px;
    padding-left: 10px;
}


.input--style-6 {
    background: transparent;
    line-height: 38px;
    height:38px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 20px;
}


.textarea--style-6 {
    background: transparent;
    line-height: 38px;
    height: 80px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 20px;
}

.modal_wrap {
    display: none;
    width: 320px;
    margin: -160px 0 0 -160px;
    /* width: 500px; */
    /* margin: -250px 0 0 -250px; */
    /* height: 500px; */
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #eee;
    z-index: 2;
}

.black_bg {
    display: none;
    position: fixed;
    content: "aaaaaa";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

    .modal_close > a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(https://img.icons8.com/metro/26/000000/close-window.png);
        text-indent: -9999px;
    }

.validate {
    display: block;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.button_custom {
    background: #68A4C4;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    height: 44px;
}

.button_custom_cancle {
    background: #666;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    height: 44px;
}

section {
    padding: 20px 0px;
}

.card-img{
    display:none;
}

.subTitle {
    font-weight:bolder;
    font-size : 1.05rem;
    margin-bottom :10px;
}

.basic th {
    text-align: center;
}

.basic td {
    padding-left :5px;
}

.read-more{
    display:none;
}

.subMenu {
    margin-bottom:80px;
    display:block;
    
}
.subMenu div {
    border: 1px solid white;
    float: left;
    width: 16.6%;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    color: white;
}

.subMenu div:hover{
    border: 1px solid #ddd;

}

.subMenu .subMenuActive {
    border: 1px solid #4fa6d5;
    float: left;
    width: 16.6%;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    font-weight: 900;
    color: #666;
}

.subMenu a {
    color:unset;
}



.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: left;
}